In [5]:
import pandas as pd

numeros = [i for i in range(11)]
letras = [chr(i + 65) for i in range(11)]
nome_coluna = ['N']

df = pd.DataFrame(data = numeros, index = letras, columns = nome_coluna)

In [6]:
selecao = df['N'].isin([i for i in range(11) if i % 2 == 0])
df = df[selecao]
df

    N
A   0
C   2
E   4
G   6
I   8
K  10

## Exportando a Base de Dados

In [8]:
dados_residencial.to_csv('dados/aluguel_residencial.csv', sep = ';')

NameError: name 'dados_residencial' is not defined

In [4]:
import pandas as pd

In [5]:
data = [[1, 2, 3], [4, 5, 6],[7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
df = pd.DataFrame(data, list('ZYX'), list('CBA'))
df

   C  B  A
Z  1  2  3
Y  4  5  6
X  7  8  9

In [7]:
df.sort_index()
df.sort_index(axis = 1)
df

   C  B  A
Z  1  2  3
Y  4  5  6
X  7  8  9